*{
    box-sizing: border-box;
}

.leaflet{
    width: 100%;
    height:80vh;

}

.popup{
    color:#1BA9F5;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:13px;
}

.euiModalHeader {
    position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
border: 5px solid #FFFF00;
padding: 10px;
}